*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.15;
    background-color: #F7F8FE;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

button, input{
    font: inherit;
}

:focus{
    outline: none;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}